.tha-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 10, 10);
  width: 100%;
  height: fit-content;
  position: fixed;
  z-index: 100;
  padding: 10px 0;
}
.tha-header h2 {
  text-decoration: none;
}
.header-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 28px;
  width: 145px;
  justify-self: flex-start;
  margin-left: 15px;
  border-bottom: 2px solid yellow;
  color: white;
  list-style: none;
}
.header-nav {
  width: 130px;
  text-align: center;
  margin-right: 100px;
  border: 2px white solid;
  transition: 350ms;
  position: relative;
  padding: 8px 5px 8px 8px;
}
.header-nav:hover {
  border: 2px yellow solid;
  box-shadow: 2px 2px 2px darkmagenta;
  /* padding: 10px; */
}

.header-nav li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  color: white;
}
.cart-alert {
  border-radius: 50%;
  background-color: yellow;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 2px;
  right: 12px;
  padding-left: 4px;
  padding-right: 3px;
  font-size: 11px;
  border: 2px solid darkmagenta;
}

@media (max-width: 800px) {
  .header-nav {
    margin-right: 10px;
    padding: 5px;
  }
}
