* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.store-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
  text-align: center;
  font-weight: 600;
  color: white;
}

.home-container {
  background: linear-gradient(
    180deg,
    rgb(10, 10, 10) 12%,
    rgba(0, 0, 0, 0.774) 22%,
    white 50%
  );
  margin: 0;
  /* height: fit-content; */
  padding-top: 200px;
}
