* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-container {
  display: grid;
  grid-template: 100px 1fr 100px / 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
  margin: 0;
  padding: 0;
  height: fit-content;
}
.header {
  grid-area: header;
  width: 100%;
  height: 100px;
}
.main {
  grid-area: main;
  margin: 0;
  height: 100vh;
}
.footer {
  grid-area: footer;
}
